*{
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: rgba(114, 8, 8, 0.9);
  padding: 10px 0;
  box-shadow: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header nav {
  display: flex;
  justify-content: flex-end;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
}

.header nav a:hover {
  color: #000000;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1d2c3;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../pages/hero-1/assets/img/zed\ wallpaper.jpg') no-repeat center center/cover;
  text-align: center;
  padding: 0 20px;
}

.content {
  background: rgba(114, 8, 8, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 58px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.subtitle {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: #ffffff;
}

.description {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
  color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #000000;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(114, 8, 8, 0.9);
}